<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Felicity's Sleep Tracker</title>
    <link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.1/normalize.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <div class="container">
        <h1><a href="/">Felicity's Sleep Chart</a></h1>
        <nav>
          <%= if assigns[:date] do %>
            <a href="<%= Routes.sleep_path(@conn, :show, yesterday(@date)) %>"><span>&laquo;</span></a>
            <a href="<%= Routes.sleep_path(@conn, :show, tomorrow(@date)) %>"><span>&raquo;</span></a>
          <% end %>
        </nav>
      </div>
    </header>
    <main role="main" class="container">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
