<%= form_for @changeset, @action, [method: :put], fn f -> %>
  <%= error_tag f, :date %>
  <div class="slept-buttons">
     <%= submit "I slept all night 😴 ", name: "sleep[slept]" %>
     <%= submit "I woke up 😫", name: "sleep[didNotSleep]" %>
  </div>
<% end %>
