<%= form_for @changeset, @action, [method: :put], fn _ -> %>
  <div class="slept-buttons">
     <%= submit "I slept all night 😴 ", name: "sleep[slept]" %>
     <%= submit "I didn't sleep all night 😫", name: "sleep[didNotSleep]" %>
  </div>
<% end %>
