<h1><%= friendly_date @date, @today %></h1>

<ul>

  <li>
    <strong>Date:</strong>
    <%= @sleep.date %>
  </li>

  <li>
    <strong>Slept:</strong>
    <%= @sleep.slept %>
  </li>

</ul>

<h2>Treat Progress</h2>
<% {stars, treat} = treat_progress(@total_sleeps, @sleep.slept) %>
Stars: <%= stars %>
Treat: <%= treat %>