/* This file is for your main application css. */

@import "./phoenix.css";

button {
    display: block;
    width: 100%;
    height: auto;
    font-size: 10rem;
    line-height: 12rem;
}
.slept, .stars {
    font-size: 10rem;
    text-align: center;
}
